<!DOCTYPE html>
<html>
  <head>
    <title>AdaBooks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
      <% flash.each do |name, message| %>
        <p><%= name %> - <%= message %></p>
        <hr/>
      <% end %>

    <h1>Welcome to Ada Books</h1>
  <% if session[:user_id] %>
    <%= link_to "Log out", logout_path, method: "delete" %>
  <% else %>
    <%= link_to "Login with Github", github_login_path %>
  <% end %>
  <body>
    <%= yield %>
  </body>
  <footer>
    <p>Copyright Ada C13 2020</p>
  </footer>
</html>
